<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Program.AppName</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/kendo-ui/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/kendo-ui/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />

    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.custom.min.js"></script>

    @RenderSection("scripts", required: false)
</head>
<body>
    <noscript>
        <div class="noscript-warning">
            This site will not function correctly with JavaScript disabled. Please re-enable JavaScript in your browser and try again.
            To enable Javascript follow this link http://enable-javascript.com/.
        </div>
    </noscript>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Program.AppName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("My Data", "Index", "Data")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Statistics<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">

                            <li>@Html.ActionLink("Summary Statistics", "AnalysisDataSelector", "Analyses", new { analysisName = "SummaryStatistics" }, null)</li>

                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Parametric Analysis</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Single Measures Parametric Analysis", "AnalysisDataSelector", "Analyses", new { analysisName = "SingleMeasuresParametricAnalysis" }, null)</li>
                                    <li>@Html.ActionLink("Repeated Measures Parametric Analysis", "AnalysisDataSelector", "Analyses", new { analysisName = "RepeatedMeasuresParametricAnalysis" }, null)</li>
                                    <li>@Html.ActionLink("P-value Adjustment", "Analysis", "Analyses", new { analysisName = "PValueAdjustment" }, null)</li>
                                    <li>@Html.ActionLink("Paired t-test Analysis & Within-Subject Analysis", "AnalysisDataSelector", "Analyses", new { analysisName = "PairedTTestAnalysis" }, null)</li>
                                    <li>@Html.ActionLink("Unpaired t-test Analysis", "AnalysisDataSelector", "Analyses", new { analysisName = "UnpairedTTestAnalysis" }, null)</li>
                                    <li>@Html.ActionLink("Correlation Analysis", "AnalysisDataSelector", "Analyses", new { analysisName = "CorrelationAnalysis" }, null)</li>
                                    <li>@Html.ActionLink("Linear Regression Analysis", "AnalysisDataSelector", "Analyses", new { analysisName = "LinearRegressionAnalysis" }, null)</li>
                                    <li>@Html.ActionLink("Dose-response and Non-Linear Regression Analysis", "AnalysisDataSelector", "Analyses", new { analysisName = "DoseResponseAndNonLinearRegressionAnalysis" }, null)</li>
                                    <li>@Html.ActionLink("One-Sample t-test Analysis", "AnalysisDataSelector", "Analyses", new { analysisName = "OneSampleTTestAnalysis" }, null)</li>
                                </ul>
                            </li>

                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Additional Analysis</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Non-parametric Analysis", "AnalysisDataSelector", "Analyses", new { analysisName = "NonParametricAnalysis" }, null)</li>
                                    <li>@Html.ActionLink("Chi-squared and Fisher's Exact Test", "AnalysisDataSelector", "Analyses", new { analysisName = "ChiSquaredAndFishersExactTest" }, null)</li>
                                    <li>@Html.ActionLink("Survival Analysis", "AnalysisDataSelector", "Analyses", new { analysisName = "SurvivalAnalysis" }, null)</li>
                                </ul>
                            </li>

                            <li>@Html.ActionLink("Graphical Analysis", "AnalysisDataSelector", "Analyses", new { analysisName = "GraphicalAnalysis" }, null)</li>

                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Power Analysis</a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Comparison of Means</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("User based inputs", "AnalysisDataSelector", "Analyses", new { analysisName = "ComparisonOfMeansPowerAnalysisUserBasedInputs" }, null)</li>
                                            <li>@Html.ActionLink("Dataset based inputs", "AnalysisDataSelector", "Analyses", new { analysisName = "ComparisonOfMeansPowerAnalysisDatasetBasedInputs" }, null)</li>
                                        </ul>
                                    </li>
                                    <li class="menu-item dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">One-way ANOVA</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("User based inputs", "AnalysisDataSelector", "Analyses", new { analysisName = "OneWayANOVAPowerAnalysisUserBasedInputs" }, null)</li>
                                            <li>@Html.ActionLink("Dataset based inputs", "AnalysisDataSelector", "Analyses", new { analysisName = "OneWayANOVAPowerAnalysisDatasetBasedInputs" }, null)</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Unvalidated Analyses</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Multivariate Analysis*", "AnalysisDataSelector", "Analyses", new { analysisName = "MultivariateAnalysis" }, null)</li>
                                    <li>@Html.ActionLink("Nested Design Analysis*", "AnalysisDataSelector", "Analyses", new { analysisName = "NestedDesignAnalysis" }, null)</li>
                                    <li>@Html.ActionLink("Incomplete Factorial Parametric Analysis", "AnalysisDataSelector", "Analyses", new { analysisName = "IncompleteFactorialParametricAnalysis" }, null)</li>
                                </ul>
                            </li>

                            <li>@Html.ActionLink("R-Runner", "AnalysisDataSelector", "Analyses", new { analysisName = "RRunner" }, null)</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("My Analyses", "Index", "Analyses")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index", "UserOptions")"><i class="fa fa-lg fa-gears"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content mt20">
        @RenderBody()
    </div>
</body>
</html>